.aside-container{
    background-color: #D3CCE3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    flex-basis: 15%;
   
}
.aside-header{
    display: flex;
    padding: 15px;
}
.aside-header p{
    margin-right: 10px;
}
.aside-header input{
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
}
.contact-card{
    margin: 5px 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.contact-card:hover{
    background-color: #c9c3d7;
}