.chat-container{
    flex-basis: 80%;
    
}
.chat-window{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.chat-window-header{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    height: 50px;
}
.chat-window-header-info-contact{
    padding: 0px 10px;
}
.chat-window-header-info-contact img{
    margin-right: 15px;
}
.chat-window-input{
    padding: 50px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.chat-window-input input{
    width: 50%;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 10px;
}
.chat-window-input button{
    border: none;
    border-radius: 15px;
    padding: 10px;
}