*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app{
    display: flex;
background: rgba(102, 56, 56, 0.09);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
height: 100vh;
}
.img-contact{
    margin-right: 10px;
    width: 32px;
}